@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL FONT + SMOOTHING */
body {
  margin: 0;
  @apply font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CODE FONT (leave as default) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
